body {
  margin: 0;
  text-align: center;
}
h1 {
font-family: 'Courgette', cursive;
font-size: 5.625rem;
margin-top: 50px auto 0 auto;
color: #66BFBF;
}
h2 {
  font-size: 2.5rem;
  color: #66BFBF;
  font-family: 'Courgette', cursive;
}
h3 {
  color: #11999E;
  font-family: 'Courgette', cursive;
}
p {
  font-family: 'Playball', cursive;
  font-size: 1.25em;
  line-height: 2;
}
a {
  color: #11999E;
  text-decoration: none;
  font-family: 'Courgette', cursive;
  margin: 10px 20px;
}
a:hover {
  color: #EAF6F6;
}
.profile p {
  width: 30%;
  margin: auto;
}
.top-container {
  background-color: #E4F9F5;
  padding-top: 100px;
  position: relative;
}
.bottom-container {
  background-color: #66BFBF;
  font-size: 1.25em;
  padding: 50px 0 20px 0;
}
.footer-link {

}
.middle-container {
  margin: 100px auto;
}
.pro {
  text-decoration: underline;
}
.weight {
  font-weight: normal;
  line-height: 2;
}
.bottom-cloud {
  position: absolute;
  left: 500px;
  bottom: 300px;
}
.top-cloud  {
  position: absolute;
  right: 500px;
  top: 50px;
}
.skill-row {
  width: 50%;
  margin:  150px auto;
  text-align: left;
  line-height: 2;
}
.code1 {
  width: 20%;
  float: left;
  margin-right: 30px;
}
.code2 {
  width: 20%;
  float: right;
  margin-left: 30px;
}
hr {
border: dotted grey 6px;
border-bottom: none;
width: 7%;
margin: 100px auto;
}
.profile img {
  margin-top: 50px;
}
.contactm {
  width: 30%;
  margin: 60px auto;
}
#photo {
  border-radius: 50%;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius: 14px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.copyr {
  color: #EAF6F6;
  font-size: 1em;
  padding: 20px 0;
}
